In [1]:
import geopandas as gpd
import vaex
import pandas as pd
import glob
import os

In [2]:
ano = 2023

In [3]:

## Carregando Quadras Fiscais para espacializar o lcto do IPTU
gdf_quadras = gpd.read_file('zip://data/SIRGAS_SHP_quadraMDSF.zip!SIRGAS_SHP_quadraMDSF/SIRGAS_SHP_quadraMDSF.shp')
gdf_quadras = gdf_quadras.set_crs(epsg=31983)
gdf_quadras = gdf_quadras[gdf_quadras.qd_tipo == 'F']
gdf_quadras = gdf_quadras.dissolve(['qd_setor', 'qd_fiscal']).reset_index()

In [4]:
## Relacionando a quadra ao distrito para agregação espacial

gdf_distritos = gpd.read_file('data/SIRGAS_GPKG_distrito.gpkg')
gdf_quadras_distritos = gdf_quadras.sjoin(gdf_distritos, how='left', predicate='intersects')
gdf_quadras_distritos.drop('index_right', axis=1, inplace=True)

df_quadras_distritos = gdf_quadras_distritos.loc[:, ['qd_setor', 'qd_fiscal', 'ds_codigo', 'ds_nome', 'ds_cd_sub', 'ds_subpref']]
df_quadras_distritos.loc[:, ['sq']] = df_quadras_distritos.qd_setor + df_quadras_distritos.qd_fiscal
df_quadras_distritos.drop_duplicates(keep='first', inplace=True, ignore_index=True)

In [5]:
df_quadras_distritos

      qd_setor qd_fiscal ds_codigo     ds_nome ds_cd_sub ds_subpref      sq
0          001       003         9  BOM RETIRO        09         SE  001003
1          001       004         9  BOM RETIRO        09         SE  001004
2          001       005         9  BOM RETIRO        09         SE  001005
3          001       006         9  BOM RETIRO        09         SE  001006
4          001       007         9  BOM RETIRO        09         SE  001007
...        ...       ...       ...         ...       ...        ...     ...
46011      310       116        38   JABAQUARA        15  JABAQUARA  310116
46012      310       117        38   JABAQUARA        15  JABAQUARA  310117
46013      310       118        38   JABAQUARA        15  JABAQUARA  310118
46014      310       119        38   JABAQUARA        15  JABAQUARA  310119
46015      310       120        38   JABAQUARA        15  JABAQUARA  310120

[46016 rows x 7 columns]

In [6]:
dfs = []
p = 0

for i in range(1995,ano+1):

    print(f'Processando {i}')

    df = vaex.open(f'data/IPTU-HDF5/IPTU_{i}/IPTU_{i}.hdf5')

    df.setor = df['NUMERO DO CONTRIBUINTE'].str.slice(0,3)
    df.quadra = df['NUMERO DO CONTRIBUINTE'].str.slice(3,6)
    df.fillna(value='00-0', column_names=['NUMERO DO CONDOMINIO'], inplace=True)
    df.fillna(value=1., column_names=['FRACAO IDEAL'], inplace=True)
    df.fillna(value=0., column_names=['AREA CONSTRUIDA', 'AREA OCUPADA', 'AREA DO TERRENO'], inplace=True)
    df.sqlc = df.func.where(df['NUMERO DO CONDOMINIO'] == '00-0',
                                    df['NUMERO DO CONTRIBUINTE'].str.slice(0, 10) + '00',
                                    df['NUMERO DO CONTRIBUINTE'].str.slice(0, 6) + '0000' + df['NUMERO DO CONDOMINIO'].str.slice(0, 2))
    df['sq'] = df.setor + df.quadra
    df['sqlc'] = df.sqlc

    df_ano = df.groupby('sqlc', agg={'exercicio': vaex.agg.first('ANO DO EXERCICIO')})
    df_ano = df_ano.to_pandas_df()
    df_ano.loc[:, {i}] = True
    df_ano.drop('exercicio', axis=1, inplace=True)
    df_ano.set_index('sqlc', inplace=True)

    dfs.append(df_ano)

#     if p > 1:
#         break

    p =+ 1

Processando 1995

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 1996

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 1997

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 1998

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 1999

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2000

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2001

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2002

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2003

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2004

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2005

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2006

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2007

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2008

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2009

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2010

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2011

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2012

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2013

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2014

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2015

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2016

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2017

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2018

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2019

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2020

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2021

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2022

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

Processando 2023

/tmp/ipykernel_302930/3078357877.py:23: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_ano.loc[:, {i}] = True

In [7]:
df_iptus = pd.concat(dfs, axis=1)

In [8]:
df_iptus.to_pickle('data/lote_sqlc_por_exercicio.pkl')

## Relacionando aos lotes

Reiniciar o Notebook aqui

In [9]:
import geopandas as gpd
import pandas as pd
import glob
import os
import warnings
warnings.filterwarnings('ignore')

In [10]:
## Carregando Quadras Fiscais para espacializar o lcto do IPTU

gdf_quadras = gpd.read_file('zip://data/SIRGAS_SHP_quadraMDSF.zip!SIRGAS_SHP_quadraMDSF/SIRGAS_SHP_quadraMDSF.shp')
gdf_quadras = gdf_quadras.set_crs(epsg=31983)
gdf_quadras = gdf_quadras[gdf_quadras.qd_tipo == 'F']
gdf_quadras.loc[:, 'sq'] = gdf_quadras.qd_setor + gdf_quadras.qd_fiscal
gdf_quadras = gdf_quadras.dissolve(by='sq').reset_index()
gdf_quadras.geometry = gdf_quadras.buffer(-0.05)

In [11]:
df_iptus = pd.read_pickle('data/lote_sqlc_por_exercicio.pkl')

In [12]:
df_iptus

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
sqlc,,,,,,,,,,,,,,,,,,,,,
010087004100,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
010091001300,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,NaN,NaN,NaN
010093000700,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
010095001700,True,True,True,True,True,True,True,True,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
011012003600,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135433005400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
138054008300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
138054008600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
140271047800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
146078005900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [13]:
for f in glob.glob(f'data/lotes/{ano}/SIRGAS_SHP_LOTES*.zip'):
    print(os.path.basename(f))
    gdf_lote = gpd.read_file(f'zip://{f}!{os.path.basename(f)[:-4]}')
    gdf_lote.loc[:, 'sq'] = gdf_lote.lo_setor + gdf_lote.lo_quadra  
    gdf_lote.loc[:, 'sqlc'] = gdf_lote.lo_setor + gdf_lote.lo_quadra + gdf_lote.lo_lote + gdf_lote.lo_condomi
    
    # Garantir que o lote é fiscal
    gdf_lote = gdf_lote.loc[gdf_lote.lo_tp_lote == 'F', :]
    
    gdf_lote_iptu = gdf_lote.join(df_iptus, on='sqlc', how='left')
    gdf_lote_iptu.fillna(False, inplace=True)
    
    quadras = gdf_quadras[gdf_quadras.sq.isin(gdf_lote_iptu.loc[gdf_lote_iptu[ano], 'sq'])]
    quadras.set_index('sq', inplace=True)
    quadras.set_crs(epsg=31983)

    
    os.makedirs(f'lotes_agregados_por_ano/{ano}', exist_ok=True)
    lotes = gdf_lote[gdf_lote.sqlc.isin(gdf_lote_iptu.loc[gdf_lote_iptu[ano], 'sqlc'])].set_crs(epsg=31983)
    lotes_dissolved = lotes.dissolve(by='sq')
    lotes_dissolved.geometry = lotes_dissolved.buffer(0.05)
    lotes_diff_quadras = quadras.difference(lotes_dissolved)
    
    lotes = lotes.loc[:, ['sq', 'sqlc', 'geometry']].reset_index(drop=True)
    lotes.loc[:, 'agregado'] = False

    lotes_diff_quadras = gpd.GeoDataFrame(pd.Series(lotes_diff_quadras.index + '000000', lotes_diff_quadras.index, name='sqlc'), geometry=lotes_diff_quadras).reset_index()
    lotes_diff_quadras.loc[:, 'agregado'] = True
    
    pd.concat([lotes, lotes_diff_quadras]).to_file(
        f'lotes_agregados_por_ano/{ano}/{os.path.basename(f)[:-4]}_IPTU_{ano}.gpkg', driver='GPKG',
        ignore_index=True
    )

        # print(y)

    # break

SIRGAS_SHP_LOTES_34_IPIRANGA.zip
SIRGAS_SHP_LOTES_94_VILA_SONIA.zip
SIRGAS_SHP_LOTES_27_CURSINO.zip
SIRGAS_SHP_LOTES_21_CASA_VERDE.zip
SIRGAS_SHP_LOTES_69_SANTA_CECILIA.zip
SIRGAS_SHP_LOTES_03_ANHANGUERA.zip
SIRGAS_SHP_LOTES_58_PEDREIRA.zip
SIRGAS_SHP_LOTES_02_ALTO_DE_PINHEIROS.zip
SIRGAS_SHP_LOTES_08_BELEM.zip
SIRGAS_SHP_LOTES_87_VILA_JACUI.zip
SIRGAS_SHP_LOTES_25_CIDADE_TIRADENTES.zip
SIRGAS_SHP_LOTES_07_BELA_VISTA.zip
SIRGAS_SHP_LOTES_71_SANTO_AMARO.zip
SIRGAS_SHP_LOTES_41_JAGUARE.zip
SIRGAS_SHP_LOTES_84_VILA_CURUCA.zip
SIRGAS_SHP_LOTES_62_PINHEIROS.zip
SIRGAS_SHP_LOTES_19_CAPAO_REDONDO.zip
SIRGAS_SHP_LOTES_32_MOEMA.zip
SIRGAS_SHP_LOTES_29_FREGUESIA_DO_O.zip
SIRGAS_SHP_LOTES_64_PONTE_RASA.zip
SIRGAS_SHP_LOTES_85_VILA_FORMOSA.zip
SIRGAS_SHP_LOTES_13_CACHOEIRINHA.zip
SIRGAS_SHP_LOTES_72_SAO_LUCAS.zip
SIRGAS_SHP_LOTES_47_JOSE_BONIFACIO.zip
SIRGAS_SHP_LOTES_36_ITAIM_PAULISTA.zip
SIRGAS_SHP_LOTES_45_JARDIM_PAULISTA.zip
SIRGAS_SHP_LOTES_55_PARELHEIROS.zip
SIRGAS_SHP_LOTES_43_JARDIM_ANGELA.zip
SIRGAS_SHP_LOTES_95_SAO_DOMINGOS.zip
SIRGAS_SHP_LOTES_46_JARDIM_SAO_LUIS.zip
SIRGAS_SHP_LOTES_86_VILA_GUILHERME.zip
SIRGAS_SHP_LOTES_18_CANGAIBA.zip
SIRGAS_SHP_LOTES_76_SAPOPEMBA.zip
SIRGAS_SHP_LOTES_12_BUTANTA.zip
SIRGAS_SHP_LOTES_42_JARAGUA.zip
SIRGAS_SHP_LOTES_09_BOM_RETIRO.zip
SIRGAS_SHP_LOTES_89_VILA_MARIA.zip
SIRGAS_SHP_LOTES_56_PARI.zip
SIRGAS_SHP_LOTES_80_TATUAPE.zip
SIRGAS_SHP_LOTES_28_ERMELINO_MATARAZZO.zip
SIRGAS_SHP_LOTES_79_SOCORRO.zip
SIRGAS_SHP_LOTES_44_JARDIM_HELENA.zip
SIRGAS_SHP_LOTES_77_SAUDE.zip
SIRGAS_SHP_LOTES_96_LAJEADO.zip
SIRGAS_SHP_LOTES_90_VILA_MARIANA.zip
SIRGAS_SHP_LOTES_49_LIBERDADE.zip
SIRGAS_SHP_LOTES_59_PENHA.zip
SIRGAS_SHP_LOTES_67_RIO_PEQUENO.zip
SIRGAS_SHP_LOTES_37_ITAQUERA.zip
SIRGAS_SHP_LOTES_52_MARSILAC.zip
SIRGAS_SHP_LOTES_30_GRAJAU.zip
SIRGAS_SHP_LOTES_51_MANDAQUI.zip
SIRGAS_SHP_LOTES_88_VILA_LEOPOLDINA.zip
SIRGAS_SHP_LOTES_54_MORUMBI.zip
SIRGAS_SHP_LOTES_01_AGUA_RASA.zip
SIRGAS_SHP_LOTES_24_CIDADE_LIDER.zip
SIRGAS_SHP_LOTES_26_CONSOLACAO.zip
SIRGAS_SHP_LOTES_33_IGUATEMI.zip
SIRGAS_SHP_LOTES_82_TUCURUVI.zip
SIRGAS_SHP_LOTES_50_LIMAO.zip
SIRGAS_SHP_LOTES_60_PERDIZES.zip
SIRGAS_SHP_LOTES_73_SAO_MATEUS.zip
SIRGAS_SHP_LOTES_66_REPUBLICA.zip
SIRGAS_SHP_LOTES_75_SAO_RAFAEL.zip
SIRGAS_SHP_LOTES_05_ARTUR_ALVIM.zip
SIRGAS_SHP_LOTES_65_RAPOSO_TAVARES.zip
SIRGAS_SHP_LOTES_61_PERUS.zip
SIRGAS_SHP_LOTES_31_GUAIANASES.zip
SIRGAS_SHP_LOTES_63_PIRITUBA.zip
SIRGAS_SHP_LOTES_81_TREMEMBE.zip
SIRGAS_SHP_LOTES_06_BARRA_FUNDA.zip
SIRGAS_SHP_LOTES_91_VILA_MATILDE.zip
SIRGAS_SHP_LOTES_53_MOOCA.zip
SIRGAS_SHP_LOTES_14_CAMBUCI.zip
SIRGAS_SHP_LOTES_35_ITAIM_BIBI.zip
SIRGAS_SHP_LOTES_22_CIDADE_ADEMAR.zip
SIRGAS_SHP_LOTES_38_JABAQUARA.zip
SIRGAS_SHP_LOTES_16_CAMPO_GRANDE.zip
SIRGAS_SHP_LOTES_74_SAO_MIGUEL.zip
SIRGAS_SHP_LOTES_04_ARICANDUVA.zip
SIRGAS_SHP_LOTES_15_CAMPO_BELO.zip
SIRGAS_SHP_LOTES_40_JAGUARA.zip
SIRGAS_SHP_LOTES_11_BRASILANDIA.zip
SIRGAS_SHP_LOTES_20_CARRAO.zip
SIRGAS_SHP_LOTES_83_VILA_ANDRADE.zip
SIRGAS_SHP_LOTES_70_SANTANA.zip
SIRGAS_SHP_LOTES_78_SE.zip
SIRGAS_SHP_LOTES_93_VILA_PRUDENTE.zip
SIRGAS_SHP_LOTES_10_BRAS.zip
SIRGAS_SHP_LOTES_92_VILA_MEDEIROS.zip
SIRGAS_SHP_LOTES_57_PARQUE_DO_CARMO.zip
SIRGAS_SHP_LOTES_17_CAMPO_LIMPO.zip
SIRGAS_SHP_LOTES_39_JACANA.zip
SIRGAS_SHP_LOTES_68_SACOMA.zip
SIRGAS_SHP_LOTES_48_LAPA.zip
SIRGAS_SHP_LOTES_23_CIDADE_DUTRA.zip

In [ ]:
gdf_lote_iptu

## Alternativa para arquivo único 

Ainda em desenvolvimento

In [ ]:
# df_iptus[range(1995, 2023)]

In [ ]:
import numpy as np

In [ ]:
df_iptus.fillna(False, inplace=True)

In [ ]:
# Adicionar coluna 1994 e 2023 FALSE
df_iptus.loc[:, 1994] = False
df_iptus.loc[:, 2023] = False
df_iptus.loc[:, 'data_de_inicio'] = None
df_iptus.loc[:, 'data_de_termino'] = None

for w in list(range(1994, 2023)):
    # print(w, w+1)

    inicio = df_iptus[w]
    termino = df_iptus[w+1]

    df_iptus.loc[~inicio & termino, 'data_de_inicio'] = pd.to_datetime(f'{w+1}-01-01 00:00:00')
    df_iptus.loc[inicio & ~termino, 'data_de_termino'] = pd.to_datetime(f'{w}-12-31 23:59:59')
    
    # IF TRUE, TRUE
    # Não muda nada

    # IF TRUE, FALSE
    # Data de termino

    # IF FALSE, FALSE
    # Não muda nada

    # IF FALSE, TRUE
    # DAta de inicio

    df_iptus_date = df_iptus.drop(range(1994, 2024), axis=1)
    df_iptus_date.data_de_inicio = pd.to_datetime(df_iptus_date.data_de_inicio)
    df_iptus_date.data_de_termino = pd.to_datetime(df_iptus_date.data_de_termino)

In [ ]:
lotes_diffs = []

for f in glob.glob('data/lotes/SIRGAS_SHP_LOTES*.zip'):
    print(os.path.basename(f))
    gdf_lote = gpd.read_file(f'zip://{f}!{os.path.basename(f)[:-4]}')
    gdf_lote.loc[:, 'sq'] = gdf_lote.lo_setor + gdf_lote.lo_quadra  
    gdf_lote.loc[:, 'sqlc'] = gdf_lote.lo_setor + gdf_lote.lo_quadra + gdf_lote.lo_lote + gdf_lote.lo_condomi
    
    # Garantir que o lote é fiscal
    gdf_lote = gdf_lote.loc[gdf_lote.lo_tp_lote == 'F', :]
    
    gdf_lote_iptu = gdf_lote.join(df_iptus_date, on='sqlc', how='left')
    gdf_lote_iptu = gdf_lote_iptu.loc[:, ['sq', 'sqlc', 'data_de_inicio', 'data_de_termino', 'geometry']].reset_index(drop=True)
    gdf_lote_iptu.loc[:, 'agregado'] = False

    lotes_diffs.append(gdf_lote_iptu)
    # gdf_lote_iptu.fillna(False, inplace=True)
    
    quadras = gdf_quadras[gdf_quadras.sq.isin(gdf_lote_iptu.loc[:, 'sq'])]
    quadras.set_index('sq', inplace=True)
    quadras.set_crs(epsg=31983)

    for y in range(1995, 2023):
        inicio = pd.to_datetime(f'{y}-01-01 00:00:00')
        termino = pd.to_datetime(f'{y}-12-31 23:59:59')
        periodo = (gdf_lote_iptu.data_de_inicio <= inicio) & (gdf_lote_iptu.data_de_termino >= termino)
        lotes = gdf_lote_iptu[periodo]

        # lotes = gdf_lote[gdf_lote.sqlc.isin(gdf_lote_iptu.loc[gdf_lote_iptu[y], 'sqlc'])].set_crs(epsg=31983)
        lotes_dissolved = lotes.dissolve(by='sq')
        lotes_dissolved.geometry = lotes_dissolved.buffer(0.05)
        lotes_diff_quadras = quadras.difference(lotes_dissolved)
        
        # lotes = lotes.loc[:, ['sq', 'sqlc', 'data_de_inicio', 'geometry']].reset_index(drop=True)
        # lotes.loc[:, 'agregado'] = False

        lotes_diff_quadras = gpd.GeoDataFrame(pd.Series(lotes_diff_quadras.index + '000000', lotes_diff_quadras.index, name='sqlc'), geometry=lotes_diff_quadras).reset_index()
        lotes_diff_quadras.loc[:, 'data_de_inicio'] = inicio
        lotes_diff_quadras.loc[:, 'data_de_termino'] = termino
        lotes_diff_quadras.loc[:, 'agregado'] = True

        lotes_diffs.append(lotes_diff_quadras)
        
        print(y)
        # break

    pd.concat(lotes_diffs).to_file(
        f'lotes_agregados_por_ano/atributo_de_data/{os.path.basename(f)[:-4]}_atributo_de_data.gpkg', driver='GPKG',
        ignore_index=True
    )


    break